<!DOCTYPE html>
    <head>
        <title> welcome!</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h1> {{>header}} </h1>
        <h2>you are in {{loc}}</h2>

        <form method="GET"> 
            <input placeholder = "address">
            <button id = "address"> submit</button>
        </form>

        <p id='p1'></p>
        <p id='p2'></p>
        <script src="/js/app.js"></script>
    </body>
    
</html>
